{# templates/lucky/number.html.twig #}

{#<h1>Your lucky number is {{ number }}</h1>#}

<!DOCTYPE html>
<html>
<head>
<title>Joe Bloggs - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{{ asset('style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{ asset('headshot.jpg') }}" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Jules Burcez</h1>
			<h2 class="quickFade delayThree">Job Title {{number}}</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e-mail: <a href="jules.burcez@gmail.com" target="_blank">jules.burcez@gmail.com</a></li>
				<li><a href="https://portfolio-jules-burcez.000webhostapp.com">Portfolio de Jules Burcez</a></li>
				<li>tel : 01234567890</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Profil personnel</h1>
				</div>
				
				<div class="sectionContent">
					<p>Jeune étudiant en DUT MMI (Métiers du Multimédia et de l’Internet), je suis motivé, appliqué, perfectionniste et habitué à travailler que ce soit en groupe ou seul.
					Je possède des connaissances en communication, en programmation web ainsi qu'en audiovisuel.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Expériences</h1>
			</div>
			
			<div class="sectionContent">
				{% for experience in experiences %}
				<article>
					<h2>{{experience.getTitle}}</h2>
					<p class="subDetails">{{ experience.getDatedebut()|date('Y-m-d') }}
										  {{ experience.getDatefin|date('Y-m-d') }}</p>
				</article>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('experience_new') }}" target="_blank">Créer</a>
					<a href="{{ path('experience_edit',{'id': experience.id}) }}" target="_blank">Editer</a>
					<a href="{{ path('experience_delete',{'id': experience.id}) }}" target="_blank">Supprimer</a>
				{% endif %}
				{% endfor %}
				
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Formations</h1>
			</div>
			
			<div class="sectionContent">
				{% for formation in formations %}
				<article>
					<h2>{{formation.getTitle}}</h2>
					<p class="subDetails">{{ formation.getDatedebut()|date('Y-m-d') }}
										  {{ formation.getDatefin|date('Y-m-d') }}</p>
				</article>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('formations_new') }}" target="_blank">Créer</a>
					<a href="{{ path('formations_edit',{'id': formation.id}) }}" target="_blank">Editer</a>
					<a href="{{ path('formations_delete',{'id': formation.id}) }}" target="_blank">Supprimer</a>
				{% endif %}
				{% endfor %}
				
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Loisirs</h1>
			</div>
			
			<div class="sectionContent">
				{% for loisir in loisirs %}
				<article>
					<h2>{{loisir.getTitle}}</h2>
					<p class="subDetails">{{ loisir.getYear()|date('Y-m-d') }}</p>
					<p class="subDetails">{{ loisir.getApport }}</p>
				</article>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('loisir_new') }}" target="_blank">Créer</a>
					<a href="{{ path('loisir_edit',{'id': loisir.id}) }}" target="_blank">Editer</a>
					<a href="{{ path('loisir_delete',{'id': loisir.id}) }}" target="_blank">Supprimer</a>
				{% endif %}
				{% endfor %}
				
			</div>
			<div class="clear"></div>
		</section>
	
		
		
		<section>
			<div class="sectionTitle">
				<h1>Compétences</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>